#fi{
    width: 100vw;
    height:500px;
}
#one-a{
    width: 350px;
    height: 250px;
}
#two-a{
    width: 350px;
    height: 250px
}
#three-a{
    width: 350px;
    height: 250px;
}
img{
    margin:25px;
    padding:20px; 
}
h4{
    padding:25px;
}

h1{
    padding:20px;
}
li{
    padding:10px;
}
p{
    font-family: "Modern Antiqua Static", serif;
    font-weight: 750;
    font-style: normal;
    padding:25px;
}