p{
    font-family: "UnifrakturCook", cursive, serif;
    font-weight: 700;
    font-style: normal;
}
button{
    padding: 20px;
    margin: 50px;
}
img{
    width: 150px;
}
#content-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#image-wrapper{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}