<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Template</title>
    <style>
        img{
            height:150px;
            width:auto;
        }
    </style>
</head>
<body>
    <h1>First Flask</h1>
    <form method="POST">
        <label for="name">Enter your name:</label>
        <input type="text" name="name" placeholder="name">
        <br>
        <input type="submit" value="Submit">
    </form>
    <img src="https://i.pinimg.com/564x/d7/9c/3d/d79c3db69ee7ae8e1160602af878636a.jpg">
</body>
</html>